<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <style media="screen">
      .clear{
        clear: both;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">后台管理系统</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/admin">首页</a></li>
                <li><a href="/admin/userlist">用户列表</a></li>
                <li><a href="/admin/category">分类管理<span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/admin/content">内容设置</a></li>
                <li><a href="/admin/aboutus">用户评价</a></li>
                <li><a href="/admin/contact">contact设置</a></li>
                <li><a href="/admin/news">news设置</a></li>
                <li><a href="/admin/sendmsg">sendmsg设置</a></li>
                <li><a href="/admin/custom">用户评价</a></li>
              </ul>
              <li style="float:right;margin-top:8px;list-style:none;"><a href="/admin/logout" class='btn btn-default btn-sm'>退出登陆</a></li>
            </div>
          </div>
        </nav>


        <div class="col-md-12 col-xs-12">
          <form action="?" method="post">
            <div class="form-group">
              <label for="exampleInputPassword1">分类</label>
              <!-- <input type="text" name='type' class="form-control" id="exampleInputPassword1" placeholder="请输入标题"> -->
              <select id="cate" name="type" class="form-control">
                <% for(var i=0;i<category.length;i++){ %>
                <option value="<%= category[i].id %>"><%= category[i].categoryname %></option>
                <% } %>
              </select><br>
              <label for="exampleInputPassword1">blog标题</label>
              <input type="text" name='title' class="form-control" id="exampleInputPassword1" placeholder="请输入标题">
              <label for="exampleInputPassword1">主要描述</label>
              <input type="text"name='description' class="form-control" id="exampleInputPassword1" placeholder="请输入描述">
              <label for="exampleInputPassword1">blog内容</label>
              <textarea name="content"class="form-control" rows="8" cols="40" placeholder="请输入内容"></textarea>
            </div>
            <button type="submit" class="btn btn-default">添加</button>
          </form>
          <br>
          <table class="table table-bordered">
            <tr>
              <th class="active">序号</th>
              <th class="active">标题</th>
              <th class="active">描述</th>
              <th class="active">内容</th>
              <th class="active">分类</th>
              <th class="active">操作</th>
            </tr>
            <!-- <%=content%> -->
            <% for(var i=0;i<content.length;i++) { %>
            <tr>
              <td class="active"><%= content[i].id %></td>
              <td class="success"><%= content[i].title %></td>
              <td class="success"><%= content[i].description %></td>
              <td class="success"><%= content[i].content %></td>
              <td class="success"><%= content[i].type %></td>

              <td class="info" >
                <a href="?act=mod&id=<%=content[i].id%>" class="btn btn-primary btn-sm" >修改</a>
                <a href="?act=del&id=<%=content[i].id%>" class="btn btn-warning btn-sm" onclick="return confirm('你真的要删除吗？')">删除</a>
              </td>
            </tr>
            <% } %>

          </table>


        </div>
      </div>
    </div>

  </body>
</html>
